#wrapper {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
}
.serif {
    font-family: Georgia, Times New Roman, serif;
}
#story {
    display:block;
    margin:0;
    padding:0;
    list-style-type: none;
}

.slide {
    height:100%;
    width:100%;
    position:absolute;
    display:block;
    margin:0;
    overflow:hidden;
}
.slide_blue {
    background:#00addc;
    color:white;
}

.content {
    width:964px;
    margin:0 auto;
}

/* todo: temporary */
.slide h1 {
    margin-top:0;
}

.slide_0 { top:0; }
.slide_1 { top:100%; }
.slide_2 { top:200%; }
.slide_3 { top:300%; }
.slide_4 { top:400%; }
.slide_5 { top:500%; }

.scroll-to {
    cursor:pointer;
}

/****************/
/* Intro slide  */
/****************/
.intro__bar {
    height:111px;
}
.intro__bar__logo {
    position:relative;
    padding-top:28px;
    left:-48px;
}
.intro__bar__phone-wrap{
	float: right;
}
.intro__bar__phone {
    font-size:34px;
    margin:36px 0 13px;
    position:relative;
}
.intro__bar__phone:before {
    content:"";
    position:absolute;
    left:-34px;
    top:-1px;
    width:25px;
    height:25px;
    background:url("../../static/img/icons.png");
}
.intro__bar__phone-comment {
    font-size:12px;
    font-style:italic;
    color:black;
}

.intro__message {
    /*padding-top:60px;*/
    position:absolute;
    height:240px;
    margin-top:-120px;
    top:40%;
}

.intro__message__text {
    font-family: proxima_nova_rgregular, Arial;
    white-space:pre-wrap;
    min-height:240px;
    margin-bottom:45px;
}
.intro__message__text strong{
    font-family: proxima_nova_ltsemibold, Arial;
}

.intro__again {
    font-size:13px;
    color:white;
    text-decoration: none;;
    position:relative;
    display:inline-block;
    height:25px;
    line-height:25px;
    position:relative;
    margin-left:38px;
}

.intro__again:before {
    content:" ";
    display:inline-block;
    background:url("../../static/img/icons.png") -50px 0;
    width:25px;
    height:25px;
    line-height:25px;
    margin-right:13px;
    position:absolute;
    left:-38px;
    top:0;
}
.intro__again:hover {
    opacity:0.5;
    color:white;
    text-decoration: none;;
}

.intro__continue {
    text-align:center;
    font-family: proxima_nova_rgregular;
    font-size:14px;
    position:absolute;
    bottom:43px;
    width:300px;
    left:50%;
    margin-left:-150px;
}

.intro__continue:after {
    content:"";
    position:absolute;
	width: 21px;
	height: 15px;    
	left:50%;
    bottom:-21px;
    margin-left:-10px;
    background:url("../../static/img/icons.png") -50px -200px;
}

.intro__continue:hover{
	opacity: 0.5;
}

/*********************/
/* Calculator slide  */
/*********************/

.calculator-wrapper {
    position:absolute;
    width:964px;
    left:50%;
    height:447px;
    top:50%;
    margin:-223px 0 0 -482px;
}

.calculator .ui-slider {
    background: #c1c1c1;
    height: 8px;
    position: relative;
	border-radius: 10px;
    cursor:pointer;
}

.calculator .ui-slider-handle {
    background-color: #00addc;
    height: 10px;
    top:-5px;
    width: 10px;
    position: absolute;
    margin-left:-10px;
	border-radius: 100px;
	border: 4px solid #fff;
	-webkit-box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, 0.3), -1px -1px 5px 0px rgba(0, 0, 0, 0.3);
			box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, 0.3), -1px -1px 5px 0px rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.calculator .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border-radius: 10px;
}

.calculator .ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.calculator .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.calculator  .ui-slider-range {
	background: #00addc;
}
.calculator .ui-slider.disabled .ui-slider-handle {
    display:none;
    visibility:hidden;
}

.calculator__status {
    display:none;
}
.calculator_status_empty .calculator__status_empty,
.calculator_status_wrong .calculator__status_wrong,
.calculator_status_ready .calculator__status_ready {
    display:inherit;
}

.calculator__sorry {
    color:#00addc;
    font-size:20px;
    line-height: 120%;
    font-family: Georgia, serif;
}
.calculator__phone {
    color:#00addc !important;
    font-family: Georgia, serif;
    font-size:22px;
    padding-top:35px;
}

/*********************/
/* Calculator slide  */
/*********************/
.footer {
    height:214px;
}

/*********************/
/* Anketa slide  */
/*********************/
.anketa {
    height:0px;
    /*background:orange;*/
}

.anketa_mode_form .anketa__done,
.anketa_mode_done .anketa__form {
    display:none;
}