/****************/
/* 	  Global  	*/
/****************/
*{
	margin: 0;
	padding: 0;
}
.clear:before , .clear:after, .cf:before , .cf:after	{ content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.clear:after, .cf:after{ clear:both; }
.clear, .cf	{ zoom:1;}
.g-hidden{display: none !important}
.none, .hidden{ display:none;}
.blue-text{
	color: #00addc !important;
}
.blue-back{
	color: #fff;
	background: #00addc !important;
}
h5.h5-top-pad{
	padding-top: 45px;
}
.uppercase{
	text-transform: uppercase;
}
.rouble{
	position: relative;
	display: inline-block;
	background: url(../img/icons.png) no-repeat;
	text-indent: -9999px;
}

/****************/
/* 	  Buttons  	*/
/****************/
.b-button{
	font: bold 15px/50px 'proxima_nova_rgbold', Arial;
	text-transform: uppercase;
	border-radius: 5px;
	width: 300px;
	height: 50px;
	border: none;
}
.b-button__blue{
	color: #fff;
	background: #00addc;
}
.b-button__blue:hover{
	background-color: #2fb8e2;
}
.b-button__blue:active{
	background-color: #00addc;
	-webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.2), inset -1px -1px 5px 0px rgba(0, 0, 0, 0.2);
			box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.2), inset -1px -1px 5px 0px rgba(0, 0, 0, 0.2);
}
.b-button__blue:disabled{
	color: #c6c6c6;
	border: 3px solid;
	background: #f3f3f3;
	-webkit-box-shadow: none;
			box-shadow: none;
	cursor:default;
}


/****************/
/* 	  Tabs  	*/
/****************/
.tabs{
	text-align: center;
}
.tabs__item{
	display: inline-block;
	padding: 0 20px;
}
.tabs__item a{
	color: #00addc;
	border-bottom: 1px dotted #00addc;
	text-decoration: none;
}
.tabs__item a:hover{
	text-decoration: none;
	border-bottom: none;
}
/*.tabs__item-active{*/
	/*border: 1px solid #00addc;*/
	/*border-radius: 10px;*/
/*}*/
.tabs__item-active a,
.tabs__item-active a:hover{
	color: #00addc;
	border-bottom: none;
	cursor: default;
}


/****************/
/* 	  Forms  	*/
/****************/
.form{}
.form *:focus{
	outline: none;
}
.form__row + .form__row{
	margin-top: 15px;
}
.form__cell{
	float: left;
	width: 33.3%;
}
.form__label{
	color: #777777;
	font-size: 13px;
	margin-bottom: 5px;
}
.form__field{
	position: relative;
	display: inline-block;
}
.form__field input[type="text"]{
	background: #fff;
	font: bold 15px/normal 'proxima_nova_rgbold', Arial;
	border: 1px solid #d4d4d4;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	-webkit-box-shadow: inset 1px 1px 2px 0px rgba(128, 126, 126, 0.1), inset -1px -1px 2px 0px rgba(128, 126, 126, 0.1);
			box-shadow: inset 1px 1px 2px 0px rgba(128, 126, 126, 0.1), inset -1px -1px 2px 0px rgba(128, 126, 126, 0.1);
}
.form__field-error  input[type="text"]{
	border-color: #ff4300;
	color: #ff4300;
}
.form__field input[type="text"]:focus{
	background-color: #ffffd2;
}
.form__field input[type="text"]:disabled{
	background-color: #f0f0f0;
}
.form__field-checkbox input[type="checkbox"]{
	display: none;
}
.form__field-checkbox label{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #777777;
	font-size: 13px;
}
.form__field-checkbox label i{
	background: #fff;
	display: inline-block; 
	vertical-align: middle;
	width: 22px;
	height: 22px;
	margin-right: 10px;
	border: 1px solid #d4d4d4;
	-webkit-box-shadow: inset 1px 1px 2px 0px rgba(128, 126, 126, 0.1), inset -1px -1px 2px 0px rgba(128, 126, 126, 0.1);
			box-shadow: inset 1px 1px 2px 0px rgba(128, 126, 126, 0.1), inset -1px -1px 2px 0px rgba(128, 126, 126, 0.1);
}
.form__field-checkbox input[type="checkbox"]:checked + label i{
	background: url(../img/icons.png) no-repeat 4px -96px #fff;
}
.form__field-checkbox-hovered label i{
	background-color: #ffffd2;
}
.form__field-checkbox-hovered input[type="checkbox"]:checked + label i{
	background-color: #ffffd2;
}
.form__field-checkbox-error label i{
	border-color: #ff4300;
}
.form__field__label{
	position: absolute;
	top: 0;
	right: 10px;
	height: 100%;
	text-transform: uppercase;
	color: #818181;
	font: bold 18px/40px 'proxima_nova_rgbold', Arial;
    pointer-events:none;
}
.form__field__label.rouble{
	background-position: 0 -150px;
	width: 13px;
	top: 12px;
}
.form__icon{
	width: 18px;
	height: 18px;
	background: url(../img/icons.png) no-repeat;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -9px;
	cursor:pointer;
}
.form__icon-error{
	background-position: -100px -50px;
}
.form__icon-ok{
	background-position: -50px -50px;
}
.form__hint{
	width: 150px;
	position: absolute;
	top: -15px;
	right: -180px;
	padding: 10px;
	border-radius: 5px;
	min-height: 50px;
	-webkit-box-shadow:  1px 1px 4px 0px rgba(0, 0, 0, 0.1), -1px -1px 4px 0px rgba(0, 0, 0, 0.1);
			box-shadow:  1px 1px 4px 0px rgba(0, 0, 0, 0.1), -1px -1px 4px 0px rgba(0, 0, 0, 0.1);
	z-index: 10;
	color: #fff;
}
.form__hint a{
	color: #000;
}
.form__hint-title{
	font-size: 13px;
	font-style: italic;
}
.form__hint-arrow{
	position: absolute;
	top: 50%;
	left: -9px;
	margin-top: -9px;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-right: 9px solid #00addc;
}
.form__hint-error{
	background: #ff4300;
}
.form__hint-error .form__hint-arrow{
	border-right-color: #ff4300;
}
.form__row-submit{
	text-align: center;
}


/****************/
/* 	  Landing  	*/
/****************/
.slide .content-flexible{
	width: auto;
	min-width: 1024px;
	max-width: 1440px;
}
.slide h1{
	text-align: center;
	color: #333;
	font-weight: normal;
	font-size: 34px;
	margin: 0 0 3px;
	line-height: normal;
	padding-top: 12px;
}
.slide h2{
	font-size: 21px;
	line-height: 21px;
	margin-bottom: 8px;
	font-weight: normal;
	text-align: center;
}
.slide h5{
	text-align: center;
	text-transform: uppercase;
	color: #636462;
	font: bold 14px/normal 'proxima_nova_rgbold', Arial;
	letter-spacing: 1px;
}
.slide .title-desc{
	font-size: 13px;
	font-style: italic;
	padding-bottom: 19px;
}
.slide .bottom-hint{
	font: 14px/normal 'proxima_nova_rgregular', Arial;
	color: #d1cfd0;
	position: absolute;
	text-align: center;
	bottom: 45px;
	width: 100%;
}
.slide .bottom-hint:hover{
	opacity: 0.5;
}
.slide .bottom-hint:after{
	content: "";
	position: absolute;
	left: 50%;
	background: url(../img/icons.png) no-repeat 0 -200px;
	margin-left: -10px;
	bottom: -21px;
	width: 21px;
	height: 15px;
}
.slide .benefits{
	text-align: center;
	list-style: none;
	margin-top: 32px;
	padding: 0;
	text-align: center;
	font-size: 0;
}
.slide .benefits li{
	display: inline-block;
	width: 29.3%;
	/*max-width: 360px;*/
	vertical-align: top;
	margin: 0 2%;
	
}
.slide .benefits .title-blue{
	font-size: 12px;
	margin-bottom: 6px;
	padding-top: 29px;
}
.slide .benefits .icon{
	background: url(../img/icone_grandi.png) no-repeat;
	display: inline-block;
	height: 200px;
}
.slide .benefits .icon_1{
	width: 178px;
	background-position: 0 0;
}
.slide .benefits .icon_2{
	width: 251px;
	background-position: -250px 0;
}
.slide .benefits .icon_3{
	width: 250px;
	background-position: -500px 0;
}
.slide .benefits .icon_4{
	width: 156px;
	background-position: 0 -250px;
}
.slide .benefits .icon_5{
	width: 184px;
	background-position: -250px -250px;
}
.slide .benefits .icon_6{
	width: 158px;
	background-position: -500px -250px;
}
.slide .benefits p{
	font: 16px/21px 'proxima_nova_rgregular', Arial;
	padding: 0 10px;
}
.slide .triangle{
	width: 0;
	height: 0;
	left: 50%;
	position: absolute;
	bottom: 0;
}
.slide .triangle-grey{
	border-left: 12px solid rgba(0, 0, 0, 0);
	border-right: 12px solid rgba(0, 0, 0, 0);
	border-top: 12px solid #ACA9AA;
	margin-left: -12px;
}
.slide .triangle-blue{
	border-left: 12px solid rgba(0, 0, 0, 0);
	border-right: 12px solid rgba(0, 0, 0, 0);
	border-top: 12px solid #00addc;
	margin-left: -12px;
}
.slide .triangle-white{
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	border-top: 11px solid #fff;
	margin-left: -11px;
	bottom: 1px;
}
.slide_0 .white-line{
	position: absolute;
	width: 100%;
	height: 12px;
	background: #fff;
	left: 0;
	bottom: 0;
}
.slide_1 .grey-line,
.slide_2 .grey-line{
	position: absolute;
	width: 100%;
	height: 1px;
	background: #ACA9AA;
	left: 0;
	bottom: 11px;
}
.slide_3 .tabs{
	margin: 50px 0 30px;
}
.slide_3 .calculator__content {
	background: #f3f3f3;
	padding: 5px;
	border-radius: 5px;
}
.calculator .tabs__item{
	border: 1px solid transparent;
}
.calculator_mode_1 .tabs__item.calculator__1,
.calculator_mode_2 .tabs__item.calculator__2 {
    border: 1px solid #00addc;
    border-radius: 10px;
}
.calculator_mode_1 .tabs__item.calculator__1 a,
.calculator_mode_2 .tabs__item.calculator__2 a{
	color: #00addc;
	border-bottom: none;
	cursor: default;
}
.calculator__offer {
    display:none;
}
.calculator_mode_1 .calculator__offer_1,
.calculator_mode_2 .calculator__offer_2 {
    display:inherit;
}
.slide_3 .calculator .left-side{
	background: #fff;
}
.slide_3 .calculator .left-side,
.slide_3 .calculator .right-side{
	float: left;
	width: 50%;
	height: 293px;
}
.slide_3 .calculator .calculator-side-pad{
	padding: 35px 38px;
}
.slide_3 .calculator .calculator-cross{
	display: block;
	float: right;
	text-decoration: none;
}
.slide_3 .calculator .calculator-cross i{
	background: url(../img/icons.png) no-repeat -100px -100px;
	display: inline-block;
	width: 17px;
	height: 16px;
	vertical-align: middle;
}
.slide_3 .calculator .calculator-cross-hover{
	display: block;
	float: right;
	text-decoration: none;
}
.slide_3 .calculator .calculator-cross-hover{
	display: none;
}
.slide_3 .calculator .calculator-cross-hover i{
	display: inline-block;
	width: 29px;
	height: 28px;
	background: url(../img/icons.png) no-repeat -150px -100px;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: -5px;
	margin-right: -5px;
}
.slide_3 .calculator-cross-wrap:hover .calculator-cross{
	display: none;
}
.slide_3 .calculator-cross-wrap:hover .calculator-cross-hover{
	display: block;
}
.slide_3 .calculator .left-side h5{
	padding-bottom: 24px;
}
.slide_3 .calculator .right-side h5{
	padding-bottom: 39px;
}
.slide_3 .calculator h5{
	text-align: left;
	padding: 0;
}
.slide_3 .calculator .offer-param{
	font-size: 16px;
	padding-bottom: 5px;
}
.slide_3 .calculator .offer-param .rouble{
	background-position: -100px -150px;
	vertical-align: middle;
	height: 13px;
	width: 15px;
}
.slide_3 .calculator .saving-label{
	color: #5b5c5a;
	font-size: 22px;
	margin-top: 33px;
}
.slide_3 .calculator .saving-value{
	font: bold 65px/normal 'proxima_nova_rgbold', Arial;
	white-space: nowrap;
}
.slide_3 .calculator .saving-value small{
	font-size: 20px;
}
.slide_3 .calculator .saving-value .rouble{
	background-position: -50px -150px;
	width: 20px;
	height: 20px;
}
.slide_3 .calculator .remain-row{
	border: 1px solid #f3f3f3;
	margin: 0 -10px 0;
	padding: 10px 10px 10px 20px;
	position: relative;
	white-space: nowrap;
}
.slide_3 .calculator .remain-slider{
	width: 250px;
	margin-top: 13px;
}
.slide_3 .calculator .remain-row .form__field{
	float: right;
}
.slide_3 .calculator .remain-slider-min{
	position: absolute;
	left: 20px;
	bottom: 4px;
	color: #9A9A9A;
	font-size: 11px;
}
.slide_3 .calculator .remain-slider-max{
	position: absolute;
	left: 227px;
	bottom: 4px;
	color: #9a9a9a;
	font-size: 11px;
}
.slide_3 .calculator .form__cell{
	width: 117px;
}
.slide_3 .calculator .form__cell + .form__cell{
	margin-left: 23px;
}
.slide_3 .calculator input[type="text"]{
	width: 95px;
}
.slide_3 .calculator .form__label{
	white-space: nowrap;
}
.slide_3 .form__row-submit{
	margin-top: 42px;
}
.slide_4 .form__success h2{
	margin-top: 20px;
}
.slide_4 .red-alert-holder{
	padding-top: 5px;
	height: 50px;
}
.slide_4 .red-alert{
	color: #ff4300;
	text-align: center;
	font-size: 18px;
}
.slide_4 .red-alert i{
	background: url(../img/icons.png) no-repeat -50px -100px;
	display: block;
	width: 21px;
	height: 19px;
	margin: 0 auto;
}
.slide_4 h1{
	color: #111111;
}
.slide_4 .grey-section{
	background: #f1f1f1;
	-webkit-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.1), inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
			box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.1), inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.slide_4 .title-desc{
	text-align: center;
}
.slide_3 .form__label,
.slide_4 .form__label,
.slide_4 .form__field-checkbox label{
	font-size: 15px;
}
.slide_4 .form__field-checkbox label[for="form_agreement"]{
	color: #000;
}
.slide_4 .form__section{
	padding-bottom: 20px;
}
.slide_4 .form__section_1{
	padding: 0;
}
.slide_4 .form__section_3{
	padding-bottom: 70px;
}
.slide_4 .application{
	text-align: center;
	text-transform: uppercase;
	background: #00ADDC;
	color: #FFF;
	-webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
			box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
	font: bold 14px/76px 'proxima_nova_rgbold', Arial;
	height: 76px;
}
.slide_4 input[type="text"]{
	width: 278px;
}
.slide_4 .form__cell-age input[type="text"]{
	width: 60px;
}
.slide_4 .form__cell-sms input[type="text"]{
	width: 60px;
}
.slide_4 .form__cell-phone{
	width: 232px;
}
.slide_4 .form__cell-phone input[type="text"]{
	width: 192px;
}
.slide_4 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]){
	width: 298px
}
.slide_4 .form__row-submit{
	padding: 30px 0;
}
.slide_4 .form__hint-sms{
	width: 220px;
	top: -35px;
	right: -260px;
}
.slide_4 .form__hint-sms a{
	margin-top: 10px;
	display: block;
	font-style: normal;
}
.slide_4 .agreement-link{
	text-align: right;
	margin-bottom: 5px;
}
.slide_4 .agreement-text-wrap{
	width: 600px;
	margin: 0 auto;
	border: 1px solid #d4d4d4;
	padding: 10px 5px 10px 10px;
	-webkit-box-shadow: inset 1px 1px 2px 0px rgba(128, 126, 126, 0.1), inset -1px -1px 2px 0px rgba(128, 126, 126, 0.1);
			box-shadow: inset 1px 1px 2px 0px rgba(128, 126, 126, 0.1), inset -1px -1px 2px 0px rgba(128, 126, 126, 0.1);
}
.slide_4 .agreement-text{
	height: 60px;
	color: #b9b9b9;
}
.slide_4 .agreement-text p{
	margin: 0;
	padding-bottom: 8px;
	font-size: 11px;
}
.slide_4 .form__row-agreement{
	width: 617px;
	margin: 15px auto 60px;
	color: #000;
	font-size: 13px;
}
.footer{
	position: relative;
	background: #00addc;
	width: 100%;
	color: #fff;
}
.footer a{
	color: #fff;
	text-decoration: underline;
}
.footer a:hover{
	text-decoration: none;
}
.footer p{
	padding-top: 24px;
}
.footer .logo{
	background: url('../img/footer.logo.png') no-repeat;
	width: 27px;
	height: 28px;
	margin-top: 105px;
}

.intro__message__text strong{
	font-size: 45px;
	line-height: 55px;
}
.intro__message__text {
	font-size: 65px;
	line-height: 75px;
	width: 960px;
}
@media (min-width: 1024px) {
	.intro__message__text strong{
		font-size: 45px;
		line-height: 55px;
	}
	.intro__message__text {
		font-size: 65px;
		line-height: 75px;
		width: 960px;
	}
}
@media (min-width: 1280px) {
	.slide h1{
		font-size: 40px;
	}
	.slide h2{
		font-size: 25px;
		line-height: 25px;
	}
	.slide .benefits p{
		font-size: 18px;
		line-height: 24px;
	}
	.intro__message__text strong{
		font-size: 50px;
		line-height: 60px;
	}
	.intro__message__text {
		font-size: 70px;
		line-height: 75px;
		width: 960px;
	}
}
@media (min-width: 1366px) {
	.intro__message__text strong{
		font-size: 55px;
		line-height: 65px;
	}
	.intro__message__text {
		font-size: 75px;
		line-height: 80px;
		width: 980px;
	}
}
@media (min-width: 1440px) {
	.intro__message__text strong{
		font-size: 65px;
		line-height: 80px;
	}
	.intro__message__text {
		font-size: 85px;
		line-height: 95px;
		width: 1260px;
	}
}